*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
  --text-primary : white;
  --header-bg: #000;
  --body-bg: #343434;
}

body{
  background: var(--body-bg);
  color: var(--text-primary);
}

header{
  display: flex;
  justify-content: space-between;

  background: var(--header-bg);
  padding: 1.5rem;
  
  a{
    color: var(--text-primary);
    margin: 0 2rem;
    text-decoration: none;

    &.active{
      font-weight: bold;
      color: #00D8FF;
    }
  }
}

main{
  margin: 2rem;
  h1{
    margin-bottom: 1rem;
  }
}

footer{
  background: var(--header-bg);
  color: var(--text-primary);
  padding: 1.5rem;
  text-align: center;
}